# Environment variables
.env

# User data
user_db.json

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# Temporary files
temp_uploads/

# OS specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp